In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.datasets import load_iris

# Preparação dos Dados

In [2]:
data = load_iris()

In [3]:
df_iris = pd.DataFrame(data = np.c_[data.data,data.target], 
                      columns=data.feature_names + ['label'])

In [4]:
df_iris.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0

# Exploração do Dataset

In [5]:
df_iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [6]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   label              150 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [7]:
df_iris.shape

(150, 5)

In [8]:
df_iris.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
sepal length (cm),1.000000,-0.117570,0.871754,0.817941,0.782561
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126,-0.426658
petal length (cm),0.871754,-0.428440,1.000000,0.962865,0.949035
petal width (cm),0.817941,-0.366126,0.962865,1.000000,0.956547
label,0.782561,-0.426658,0.949035,0.956547,1.000000

# Preparação Treino-Teste

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [10]:
X = df_iris.iloc[:,:4]
y = df_iris.label

In [11]:
X.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [12]:
y[:4]

0    0.0
1    0.0
2    0.0
3    0.0
Name: label, dtype: float64

In [13]:
label_scaler = LabelEncoder()
y_label = label_scaler.fit_transform(y)

In [14]:
y_label

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int64)

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y_label,test_size=0.2)

# Instanciando os Modelos de Classificação

In [16]:
# importando os modelos

from sklearn.neighbors import KNeighborsClassifier # KNN
from sklearn.tree import DecisionTreeClassifier # Arvore de decisao
from sklearn.naive_bayes import GaussianNB # Naive Bayes
from sklearn.linear_model import LogisticRegression # Regressao Logistica
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [17]:
# Metricas de Classicação

from sklearn.metrics import accuracy_score, recall_score, precision_score, confusion_matrix, classification_report

In [18]:
# Knn
lista_acuracia = []
lista_recal  = []
lista_precisao = []
lista_modelos = []

for k in range(2,5):  
    
    model_knn = KNeighborsClassifier(n_neighbors=k)
    model_knn.fit(X_train,y_train)
    lista_modelos.append(model_knn)
    
    y_pred = model_knn.predict(X_test)
    
    acuracia = accuracy_score(y_test,y_pred)
    recall = recall_score(y_test,y_pred, average = 'micro')
    precisao = precision_score(y_test,y_pred,average = 'micro')
    
    lista_acuracia.append(acuracia)
    lista_recal.append(recall)
    lista_precisao.append(precisao)
    print(k)
    metrics_knn = (classification_report(y_test,y_pred))

2
3
4

In [19]:

modelo_rl = LogisticRegression(max_iter=200)
modelo_rl.fit(X_train,y_train)
y_pred = modelo_rl.predict(X_test)
metrics_rl =classification_report(y_test,y_pred)

In [20]:
NaivesBayes = GaussianNB()
NaivesBayes.fit(X_train,y_train)
y_pred = NaivesBayes.predict(X_test)
metrics_NB  = classification_report(y_test,y_pred)

In [21]:
print(metrics_NB)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.83      0.91        12
           2       0.80      1.00      0.89         8

    accuracy                           0.93        30
   macro avg       0.93      0.94      0.93        30
weighted avg       0.95      0.93      0.93        30

In [22]:
model_arvore = DecisionTreeClassifier(criterion='entropy')
model_arvore.fit(X_train,y_train)
y_pred = model_arvore.predict(X_test)
metrics_arvore = classification_report(y_test,y_pred)

In [23]:
print(metrics_arvore)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.83      0.91        12
           2       0.80      1.00      0.89         8

    accuracy                           0.93        30
   macro avg       0.93      0.94      0.93        30
weighted avg       0.95      0.93      0.93        30

In [24]:
import joblib

In [25]:
joblib.dump(model_arvore,'arvore')

['arvore']