In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [82]:
df_test = pd.read_csv('test.csv')

In [84]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.shape

(891, 12)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.Parch.unique()

array([0, 1, 2, 5, 3, 4, 6], dtype=int64)

## Seleção de features

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [77]:
features = ['Pclass', 'Sex', 'Age', 'SibSp','Parch','Fare', 'Embarked']

In [75]:
#df_test.loc[:,features]

In [79]:
df_test = df_test.loc[:,features]

In [52]:
df_train = df.loc[:,features]

In [53]:
df_train.dropna(inplace=True)

In [32]:
df_train.index

Int64Index([  0,   1,   2,   3,   4,   6,   7,   8,   9,  10,
            ...
            880, 881, 882, 883, 884, 885, 886, 887, 889, 890],
           dtype='int64', length=712)

In [35]:
#df_train.Sex = df_train.Sex.astype('category')
#df_train.Embarked = df_train.Embarked.astype('category')

In [58]:
def sexCategorical(cod):
    
    prencher = ''
    if cod == 'male':
        prencher = 0
    elif cod == 'female':
        prencher = 1
    return prencher
        
def EmbarqueCategorical(cod):
    
    prencher = ''
    if cod == 'S':
        prencher = 0
    elif cod == 'C':
        prencher = 1
    elif cod == 'Q':
        prencher = 3
        
    return prencher

In [60]:
df_train.Sex = df_train.Sex.apply(sexCategorical)

In [63]:
df_train.Embarked = df_train.Embarked.apply(EmbarqueCategorical)

In [80]:
df_test.Embarked = df_test.Embarked.apply(EmbarqueCategorical)
df_test.Sex = df_test.Sex.apply(sexCategorical)

In [64]:
df_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

In [86]:
df_test.dropna(inplace=True)

In [92]:
indices = df_test.index

In [88]:
label_df = pd.read_csv('gender_submission.csv')

In [94]:
y_test = label_df.iloc[indices,1]

In [65]:
X_train = df_train.iloc[:,1:]

In [66]:
y_train = df_train.Survived

In [105]:
df = pd.read_csv('titanic.csv')

In [106]:
df['Survived']=df['Survived'].fillna(0).astype(int)

In [107]:
df.dropna(inplace=True)

In [108]:
df.Embarked = df.Embarked.apply(EmbarqueCategorical)
df.Sex = df.Sex.apply(sexCategorical)

In [114]:
X_test=df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [115]:
y_test = df['Survived']

In [116]:
X_train.columns

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked'], dtype='object')

In [67]:
from sklearn.neighbors import KNeighborsClassifier

In [132]:

knn = KNeighborsClassifier(n_neighbors=20)

knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=20)

In [133]:
y_pred = knn.predict(X_test)

In [134]:
from sklearn.metrics import classification_report

In [135]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.70      0.37      0.48        43
           1       0.58      0.84      0.69        44

    accuracy                           0.61        87
   macro avg       0.64      0.61      0.59        87
weighted avg       0.64      0.61      0.59        87

In [139]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

In [140]:
label = LabelEncoder()

y_train_norm = label.fit_transform(y_train)

In [148]:
rl = LogisticRegression(max_iter=500)

rl.fit(X_train,y_train_norm)

LogisticRegression(max_iter=500)

In [149]:
y_pred_rl = rl.predict(X_test)

In [150]:
print(classification_report(y_test,y_pred_rl))

              precision    recall  f1-score   support

           0       1.00      0.72      0.84        43
           1       0.79      1.00      0.88        44

    accuracy                           0.86        87
   macro avg       0.89      0.86      0.86        87
weighted avg       0.89      0.86      0.86        87